* {
    margin: 0;
    list-style: none;
    font-family: poppins;
}

body {

}

header {
    display: flex;
    background-color: #fff;
    padding: 20px;
    justify-content: space-between;


}

ul {
    display: flex;
    gap: 25px;
    font-size: 18x;
    margin-top: 10px;

}

ul li a {
    text-decoration: none;
    color: black;
}

.container {
    text-align: center;
}

.title {
    margin-top: 40px;
text-align: center;
align-items: center;
margin-left: 0%;

}

.title p {
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}


strong {
    font-size: 30px;
}



.containerCarros,
.containerMotos,
.containerVendedores {
    display: flex;
    gap: 30px;
    justify-content: center;

    & div img {
        height: 300px;
        width: 280px;
    }

    & div {
       padding: 3px;
        border-radius: 10px;
        background-color: rgb(229, 229, 229);
        justify-content: space-between;
    }
}

button {
    border: none;
    background-color: #fff;
    color: black;
    font-weight: 600;
    padding: 10px 110px;
    border-radius: 6px;
}