* {
    margin: 0;
    list-style: none;
    font-family: poppins;
}

body {}

header {
    display: flex;
    background-color: #fff;

    justify-content: space-between;


}

header img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

ul {
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 100px;

}

ul li a {
    text-decoration: none;
    color: black;
}

.container {
    text-align: center;
}

.title {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    margin-left: 0%;

}

.title p {
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}


strong {
    font-size: 30px;
    font-weight: 500;
    margin-right: 1130px;
}



.containerCarros,
.containerMotos {
    display: flex;
    gap: 30px;
    justify-content: center;

    & div img {
        height: 280px;
        width: 280px;
        border-radius: 5px;
    }

    & div {
        padding: 3px;
        border-radius: 10px;
        background-color: rgb(229, 229, 229);
        justify-content: space-between;
    }
}

button {
    border: none;
    background-color: #fff;
    color: black;
    font-weight: 600;
    padding: 10px 110px;
    border-radius: 6px;
}

.containerVendedores {
    display: flex;
    gap: 30px;
    justify-content: center;
    transition: all 1s ease;

    & div img {
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }

    & div {
        justify-content: center;
    }

    & :hover {
        height: 250px;
        width: 250px;
    }
}